<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

    <nav class="nav01 text-center container-fluid justify-content-between">
        <h2 class="pgflasktitle">Página em Flask</h2>
        <div class="pgflasktitle">
            <a class="text-white text-decoration-none" href="{{ url_for('PagInicial') }}">Início</a>
            <a class="text-white text-decoration-none" href="{{ url_for('atividade') }}">Atividade</a>
            <a class="text-white text-decoration-none" href="{{ url_for('atividade2') }}">Atividade 2</a>
        </div>
    </nav>

    {% block conteudo %}
    


    {% endblock %}

    <hr>

<a href="" class="text-decoration-none text-center"><h2>Início</h2></a>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>