{% extends 'base.html' %}
{% block conteudo %}



<p class="text-start">
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, velit consequuntur accusantium in, provident tempora omnis consectetur voluptate, esse repellendus exercitationem quidem pariatur sequi! Possimus unde dicta atque molestias accusantium?

</p>

<hr>

<p class="text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reiciendis voluptate tempora consectetur debitis corrupti quidem optio officiis itaque inventore? Quasi dolores numquam rem distinctio! Quasi laboriosam dicta esse modi.
</p>

<hr>

<p class="text-end">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni id soluta ut eius dolore quae, beatae, dolores deleniti fugit assumenda laboriosam voluptas et explicabo odit similique aspernatur! Alias, ut sapiente.
</p>

<hr>

<p class="fs-1 fst-italic">Texto 1</p>
<p class="fs-2 fst-italic">Texto 2</p>
<p class="fs-3 fst-italic">Texto 3</p>
<p class="fs-4 fst-italic">Texto 4</p>
<p class="fs-5 fst-italic">Texto 5</p>
<p class="fs-6 fst-italic">Texto 6</p>

<hr>

<p class="bg-black text-success">Esse texto é para avisar sucesso</p>







<hr>

<div class="container bg-black rounded-3">
    <h1 style="color: white;">Isso é um container do Bootstrap</h1>
    <p style="color: white;">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo omnis labore, laudantium porro quaerat dolor quis similique perspiciatis eveniet error dolore quo quisquam distinctio nostrum asperiores earum amet velit. Tempora?

    </p>

</div>

<br>

<div class="container-fluid bg-black rounded-3">
    <h1 style="color: white;">Isso é um container fluid do Bootstrap</h1>
    <p style="color: white;">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo omnis labore, laudantium porro quaerat dolor quis similique perspiciatis eveniet error dolore quo quisquam distinctio nostrum asperiores earum amet velit. Tempora?

    </p>

</div>

{% endblock %}